openapi: 3.0.0
info:
  title: web
  version: '1.0'
servers:
  - url: 'https://api.zotero.org'
paths:
  '/users/{userId}/collections':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
        description: User Id
    get:
      summary: Your GET endpoint
      tags:
        - Collections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/item'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      operationId: get-users-userId-categories
      parameters: []
  '/users/{userId}/item/{itemId}':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
      - schema:
          type: string
        name: itemId
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item'
      operationId: get-users-userId-item-itemId
      parameters:
        - schema:
            type: integer
            enum:
              - 3
          in: query
          name: v
  '/users/{userId}/collections/top':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - Collections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/item'
      operationId: get-users-userId-collections-top
  '/users/{userId}/collections/{collectionKey}':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
      - schema:
          type: string
        name: collectionKey
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - Collections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/item'
      operationId: get-users-userId-collections-collectionKey
  '/users/{userId}/collections/{collectionKey}/collections':
    parameters:
      - schema:
          type: string
        name: userId
        in: path
        required: true
      - schema:
          type: string
        name: collectionKey
        in: path
        required: true
    get:
      summary: Your GET endpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/item'
      operationId: get-users-userId-collections-collectionKey-collections
      tags:
        - Collections
components:
  schemas:
    link:
      description: Link to an item
      type: object
      properties:
        href:
          type: string
          minLength: 1
        type:
          type: string
          minLength: 1
      required:
        - href
        - type
      x-examples:
        example-1:
          href: string
          type: string
    library:
      description: Library information
      type: object
      x-examples: {}
      properties:
        type:
          type: string
          minLength: 1
          enum:
            - user
        id:
          type: number
        name:
          type: string
          minLength: 1
        links:
          $ref: '#/components/schemas/links'
      required:
        - type
        - id
        - name
        - links
    meta:
      description: ''
      type: object
      properties:
        creatorSummary:
          type: string
          minLength: 1
        parsedDate:
          type: string
          minLength: 1
        numChildren:
          type: number
      required:
        - creatorSummary
        - parsedDate
        - numChildren
    creator:
      description: ''
      type: object
      properties:
        creatorType:
          type: string
          minLength: 1
          enum:
            - author
            - contributor
            - editor
            - artist
            - translator
            - reviewed-author
        firstName:
          type: string
          minLength: 1
        lastName:
          type: string
          minLength: 1
      required:
        - creatorType
        - firstName
        - lastName
    tag:
      description: ''
      type: object
      properties:
        tag:
          type: string
          minLength: 1
        type:
          type: number
      required:
        - tag
        - type
    data:
      description: Data about a single item in the collection
      type: object
      x-examples:
        example-1:
          key: string
          version: 0
          itemType: string
          title: string
          creators:
            - creatorType: author
              firstName: string
              lastName: string
          abstractNote: string
          series: string
          seriesNumber: string
          volume: string
          numberOfVolumes: string
          edition: string
          place: string
          publisher: string
          date: string
          numPages: string
          language: string
          ISBN: string
          shortTitle: string
          url: string
          accessDate: string
          archive: string
          archiveLocation: string
          libraryCatalog: string
          callNumber: string
          rights: string
          extra: string
          tags:
            - tag: string
              type: 0
          collections:
            - {}
          relations:
            'owl:sameAs': string
          dateAdded: '2019-08-24T14:15:22Z'
          dateModified: '2019-08-24T14:15:22Z'
      properties:
        key:
          type: string
          minLength: 1
        version:
          type: number
        itemType:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        creators:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/creator'
        abstractNote:
          type: string
        series:
          type: string
          minLength: 1
        seriesNumber:
          type: string
          minLength: 1
        volume:
          type: string
        numberOfVolumes:
          type: string
        edition:
          type: string
        place:
          type: string
          minLength: 1
        publisher:
          type: string
          minLength: 1
        date:
          type: string
          minLength: 1
        numPages:
          type: string
          minLength: 1
        language:
          type: string
        ISBN:
          type: string
          minLength: 1
        shortTitle:
          type: string
          minLength: 1
        url:
          type: string
        accessDate:
          type: string
        archive:
          type: string
        archiveLocation:
          type: string
        libraryCatalog:
          type: string
          minLength: 1
        callNumber:
          type: string
          minLength: 1
        rights:
          type: string
        extra:
          type: string
        tags:
          type: array
          uniqueItems: true
          minItems: 1
          items:
            $ref: '#/components/schemas/tag'
        collections:
          type: array
          items:
            type: string
        relations:
          anyOf:
            - properties:
                'owl:sameAs':
                  type: string
                  minLength: 1
              required:
                - 'owl:sameAs'
          type: object
        dateAdded:
          type: string
          minLength: 1
          format: date-time
        dateModified:
          type: string
          minLength: 1
          format: date-time
        DOI:
          type: string
        parentsCollection:
          type: string
      required:
        - key
        - version
        - itemType
        - title
        - creators
        - abstractNote
        - series
        - seriesNumber
        - volume
        - numberOfVolumes
        - edition
        - place
        - publisher
        - date
        - numPages
        - language
        - ISBN
        - shortTitle
        - url
        - accessDate
        - archive
        - archiveLocation
        - libraryCatalog
        - callNumber
        - rights
        - extra
        - tags
        - collections
        - relations
        - dateAdded
        - dateModified
    relation:
      title: relation
      type: object
      properties:
        id:
          type: string
    item:
      title: item
      type: object
      x-examples:
        example-1:
          key: string
          version: 0
          library:
            type: string
            id: 0
            name: string
            links:
              self:
                href: string
                type: string
              alternate:
                href: string
                type: string
          links:
            self:
              href: string
              type: string
            alternate:
              href: string
              type: string
          data:
            key: string
            version: 0
            itemType: string
            title: string
            creators:
              - creatorType: author
                firstName: string
                lastName: string
            abstractNote: string
            series: string
            seriesNumber: string
            volume: string
            numberOfVolumes: string
            edition: string
            place: string
            publisher: string
            date: string
            numPages: string
            language: string
            ISBN: string
            shortTitle: string
            url: string
            accessDate: string
            archive: string
            archiveLocation: string
            libraryCatalog: string
            callNumber: string
            rights: string
            extra: string
            tags:
              - tag: string
                type: 0
            collections:
              - string
            relations:
              'owl:sameAs': string
            dateAdded: '2019-08-24T14:15:22Z'
            dateModified: '2019-08-24T14:15:22Z'
          meta:
            creatorSummary: string
            parsedDate: string
            numChildren: 0
      description: Information about a single item in the collection
      properties:
        key:
          type: string
        version:
          type: integer
        library:
          $ref: '#/components/schemas/library'
        links:
          $ref: '#/components/schemas/links'
        data:
          $ref: '#/components/schemas/data'
        meta:
          $ref: '#/components/schemas/meta'
    links:
      description: Collection of links
      type: object
      properties:
        self:
          $ref: '#/components/schemas/link'
        alternate:
          $ref: '#/components/schemas/link'
        up:
          $ref: '#/components/schemas/link'
  securitySchemes:
    Zotero-API-Key:
      name: API Key
      type: apiKey
      in: query
tags:
  - name: Collections
